<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean
            id="userRepository"
            class="dev.jlkeesh.UserRepository"
            init-method="init"
            destroy-method="destroy"
            factory-method="getInstance"
            lazy-init="true"
            scope="prototype"
    >
    </bean>
    <bean id="userService" class="dev.jlkeesh.UserService" scope="prototype">
        <constructor-arg name="userRepository" ref="userRepository"/>
    </bean>

    <bean id="cardService" class="dev.jlkeesh.CardService">
        <constructor-arg name="userRepository" ref="userRepository"/>
    </bean>
    <bean id="productService" class="dev.jlkeesh.ProductService">
        <constructor-arg name="userRepository" ref="userRepository"/>
    </bean>


</beans>
