<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Books Page')">
</head>
<body>
<section th:replace="fragments :: jssource">
</section>
<section th:replace="fragments :: navbar">
</section>
<div class="col-md-8 offset-2">

    <h1>Books</h1>
        <h1 th:if="${error_message != null}" th:text="${error_message}"></h1>
    <a th:href="@{/book/add}" class="btn btn-success">add book</a>
    <table class="table table-striped w-100">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Pages</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="book,cur : ${books}" th:object="${book}">
            <tr>
                <th th:text="${cur.index + 1}"></th>
                <td th:text="*{title}"></td>
                <td th:text="*{author}"></td>
                <td th:text="*{pageCount}"></td>
                <td>
                    <a th:href="@{'/book/delete/' + ${book.id}}" class="btn btn-danger">delete</a> ||
                    <a th:href="@{'/book/update/' + ${book.id}}" class="btn btn-warning">update</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>